<form id="loginForm">
  <div class="container login">
    <div class="item login">
      <label>username: </label>
      <input
        id="inputUsername"
        type="text"
        placeholder="username"
        name="username"
        required
      />
    </div>
    <div class="item login">
      <label>password: </label>
      <input
        id="inputPassword"
        type="password"
        placeholder="password"
        name="password"
        required
      />
    </div>
    <div class="item login">
      <button id="onLoginSubmit" type="button" onclick="onSubmit()">
        Login
      </button>
    </div>
  </div>
</form>
<img id="imgChristmasTree" src="../../assets/icons/christmas-tree.png" width="256" />
