* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #146b3a;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.doorAndPictureContainer {
  overflow: hidden;
  position: relative; /*for mobile safari bc otherwise overflow:hidden not woking*/
  border: 2px solid black;
  margin: 10px;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

#header {
  font-family: "ChristmasSmall1";
  font-size: 44pt;
  color: #f8b229;
  text-align: center;
}

.door {
  transition: height 0.5s ease-in-out;
  width: 100%;
  z-index: 1;
}
.door p {
  transition: opacity 0.5s ease-in-out;
}

.door.open {
  height: 0;
}

.door.open p {
  opacity: 0;
}

.door.close {
  height: 150px;
}
.door.close p {
  opacity: 1;
}

.picture {
  position: absolute;
  z-index: 0;
}

.picture.hidden {
  height: 0;
}
.picture.visible {
  height: 100%;
}

.container .door {
  align-items: center;
}

img {
  width: 100%;
}

/*All fonts*/
@font-face {
  font-family: "ChristmasBig6";
  src: url("./fonts/SnowForSanta.ttf");
}
@font-face {
  font-family: "ChristmasSmall3";
  src: url("./fonts/holly_and_berries.ttf");
}
@font-face {
  font-family: "ChristmasBig5";
  src: url("./fonts/CityOfLights.ttf");
}
@font-face {
  font-family: "ChristmasBubble";
  src: url("./fonts/Bauble_Monogram.ttf");
}
@font-face {
  font-family: "ChristmasBig4";
  src: url("./fonts/ChristmasBig4.ttf");
}
@font-face {
  font-family: "ChristmasBig2";
  src: url("./fonts/Snowinter-Free-For-Personal-Use.ttf");
}
@font-face {
  font-family: "ChristmasSmall2";
  src: url("./fonts/ThePerfectChristmas.ttf");
}
@font-face {
  font-family: "Candy";
  src: url("./fonts/Candcu__.ttf");
}
@font-face {
  font-family: "ChristmasBig1";
  src: url("./fonts/PWHappyChristmas.ttf");
}
@font-face {
  font-family: "ChristmasSmall1";
  src: url("./fonts/PWChristmasfont.ttf");
}
@font-face {
  font-family: "ChristmasLightsOutdoor";
  src: url("./fonts/ChristmasLightsOutdoor.ttf");
}
